<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <!-- Define the appender for info level -->
  <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
    <file value="./LOG/info/" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="'info.'yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
    <!-- Define a filter to only accept info level -->
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="INFO" />
      <levelMax value="INFO" />
    </filter>
  </appender>

  <!-- Define the appender for error level -->
  <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
    <file value="./LOG/error/" />
    <appendToFile value="true" />
    <rollingStyle value="Date" />
    <datePattern value="'error.'yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline%exception%newline" />
    </layout>
    <!-- Define a filter to only accept error level -->
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="ERROR" />
      <levelMax value="ERROR" />
    </filter>
  </appender>

  <!-- Set root logger level to ALL and its appenders to InfoAppender and ErrorAppender -->
  <root>
    <level value="ALL"/>
    <!-- You can also use other levels such as DEBUG, WARN, FATAL etc. -->
    <!-- See https://logging.apache.org/log4net/release/sdk/log4net.Core.Level.html for more details -->

    <appender-ref ref ="InfoAppender"/>
    <appender-ref ref ="ErrorAppender"/>
  </root>
</log4net>
